*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, h1, h2, h3, h4, h5, h6, p {
    color: white;
}

body{
    height: 100vh;
    background: #242337;
}

.header{
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: relative;
    background-color: #242337;
    border-bottom: 2px solid #2C2B4D;
}

.logo{
    align-items: center;
    margin-left: 4.75vw;
    padding-top: 20px;
    padding-right: 4.8vw;
    border-right: 2px solid #2C2B4D;
    padding-bottom: 20px;
    width: 9.35vw;
}

.home{
    font-size: 24px;
    margin: 14px 30px 0px 20px;
}
.home a{
    color: #BEC1DC;
    text-decoration: none;
}

.right_item{
    display: flex;
    flex-direction: row;
    margin: 5px 20px;
}
.right_item .icon{
    margin: 10px 10px;
    width: 18px; height: 19px
}


.sreachbox{
    background: #B0ABAB;
    width: 400px;
    height: 35px;
    margin-right: 33.5vw;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
}
.sreachbox .sreachbox_input{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px 60px 10px 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

ul.single-vertical-menu  {
	padding:0px;
    padding-top: 0.7vw;

}
ul.single-vertical-menu  li {
	left:0px;
	height: 4.7vw;
	padding:0px ;  
    margin:0px;        
	list-style:none;
}

ul.single-vertical-menu  li > a {
	text-decoration:none;
	cursor: pointer;
	position:relative;
    font-size: 1.4vw;
    top: 0.7vw;
    left: 2.4vw;
	color: #BEC1DC;
}

ul.single-vertical-menu  li > img {
    position:relative;
	width: 1.9vw;
	top: 1.2vw;
	left: 1.7vw;
}

ul.single-vertical-menu  li > a:hover {
	color:#B5E67B;
}

.gp1{
    position: relative;
    justify-content: space-between;
    top: 8vw;
}

.gp2{
    position: relative;
    top: 8vw;
    left: 4vw;
}

#gm2, #gm4{
    position:relative;
    top: 3.4vw;
}

.game-mode{
    background-color: #1E1D2F;
    width: 21vw;
    padding: 3.4vw 0vw;
    text-align: center;
}

.game-mode a{
    text-decoration:none;
    color:#B0ABAB;
    font-size: 1.6vw;
    font-weight: bold;
}
.game-mode a:hover{
    color: red;
}


